.BigCard {
    display: flex;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    z-index: 122222;
    max-width: 640px;
}

.hidden {
    display: none;
}

.img {
    position: absolute;
    left: 487px;
    top: 13px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border: 2px solid #FFF;
}

.para {
    width: 532px;
    padding: 10px;
    color: var(--Blackish-Green, #121);
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.75;
}

h2 {
    margin-bottom: 40px;
    color: #000;
    font-family: TradeGothic LT Extended;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn {
    border: 1px solid #FFF;
    background-color: #FF8500;
}

.ha-box {
    gap: 20px;
}


.errorMessage {
    color: red;
    display: flex;
}