.orangeBotton {
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    transition: .5s;
    text-wrap: nowrap;
}
.orangeBotton:hover{
    background-color: var(--primary-color) !important;
    color: #fff;
}

.sectionTitle h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
}

.sectionTitle p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}