.fa_search_results-filter-title {
    font-size: 16px;
    font-weight: 600;
}

.fa_search_results-filter-sub_title {
    font-size: 14px;
    font-weight: 400;
    opacity: 40%;
}

.fa_activeLine {
    width: 90%;
    height: 3px;
    transition: transform 0.3s ease;
    background-color: var(--primary-color);
}

.fa_search_results-filter-other {
    font-size: 14px;
    font-weight: 500;
}
.hoverPointer{
    cursor: pointer;
}