* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.destination_section {
    width: 100%;
    height: max-content;
    padding: 80px 0px;
}




.photo_travel_container {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    overflow: hidden;
}