.fa_LogInToBook-header {
    font-size: 20px;
    font-weight: 700;
}

.fa_number_input-text {
    font-size: 14px;
    font-weight: 400;
}

.orangHover:hover{
    transition: .2s;
    background-color: var(--primary-color) !important;}




.aj_continue_style {
    text-decoration: none;
    color: black;

}