.fa_big-sleected_img {
    height: 395px;
}

.fa_background-img {
    background: var(--selected-img) no-repeat;
    background-position: center;
    background-size: cover;
}

.fa_class-title {
    font-size: 24px;
    font-weight: 700;
}

.fa_class-lable {
    font-size: 14px;
    font-weight: 500;
}
.fa_select-img{
    aspect-ratio: 1;
    cursor: pointer;
}