.fa_nav-height {
    height: 90px;
}

.fa_signup-button {
    border: 0;
    outline: 0;
    padding: 12px 24px;
}

.fa_nav-font {
    font-size: 16px;
    font-weight: 600;
}



.text-white a {
    color: white;
    text-decoration: none;
}

.text-black a {
    color: black;
    text-decoration: none;
}


.fa_devided-line {
    width: 2px;
    height: 10px;
}

.fa_background-user {
    background: var(--img-url) no-repeat;
    background-position: center;
    background-size: cover;
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin-left: 32px;
}

.fa_user_drop-icon {
    width: 14px;
    height: 14px;
    font-size: 10px;
    opacity: 1;
    background-color: #FF8682;
    transform: translateX(-100%) translateY(-100%);
}

.fa_pop_up-tab {
    width: 329px;
    top: 120%;
    left: -240px;
}

.fa_user_img-pop_up {
    background: var(--img-url) no-repeat;
    background-position: center;
    background-size: cover;
    width: 64px;
    height: 64px;
}

.fa_user_name-pop_up {
    font-size: 17px;
    font-weight: 600;
}

.fa_online {
    font-size: 15px;
    font-weight: 400;
}

.fa_pop_up-item {
    font-size: 14px;
    font-weight: 500;
}


ul.d-flex {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul.d-flex li {
    position: relative;
  }
  
  ul.d-flex li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border: 3px solid var(--primary-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  ul.d-flex li.activeLi::after {
    transform: scaleX(1);
  }