.upFooter {
    height: 100%;
    width: 100%;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    z-index: 111;
    overflow: hidden;
    margin: 0 auto;
    transform: translateY(50%);
    margin-top: -100px;
}

.inboxEmail {
    padding: 24px, 0px, 24px, 0px;
    width: 45%;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.inboxEmail h1{
    width: 50%;
}

.newsLetter {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5%;
}

.newsLetter .newsInput {
    width: 80%;
    height: 50px;
    margin-right: 1%;
    padding: 2px 6px;
    font-size: 16px;
}

.newsLetter .newsbtn {
    width: 18%;
    height: 50px;
    background-color: #fff;
    border: none;
}

.inboxEmail h1 {
    font-size: 44px;
    color: var(--white);
}

.ftitle {
    font-size: 20px;

}

.descF {
    font-size: 14PX;
}

.downFooter {
    display: flex;
    align-items: center;
    min-height: 422px;
    background-color: var(--primary-color);
}

.inbox {
    width: 42%;
    z-index: 112;

}

.mainRect {
    width: 35%;
    height: 190px;
    color: var(--white);
    position: absolute;
    background-color: white;
    top: 20%;
    right: 7%;
    z-index: 112;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

}

.outer {
    position: absolute;
    width: 65%;
    height: 190px;
    top: 0;
    right: 45%;
    z-index: 113;
    background-color: var(--border-color);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;


}
.linkfooter{
    font-size: 14px;
    font-weight: 500;
}
.inner {
    width: 80%;
    height: 175px;
    background-color: var(--gray-box);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: absolute;
    top: 15px;
    left: 15px;

}

.pinkRect {
    width: 150px;
    height: 60px;
    background-color: var(--pink);
    z-index: 113;
    position: absolute;
    top: 65%;
    right: -35px;
}

.whiteBox {
    position: absolute;
    top: 30px;
    left: 0;
    background-color: var(--white);
    width: 110px;
    height: 30px;
}

.baseRect {
    width: 60px;
    height: 90px;
    position: absolute;
    top: 100%;
    left: 39%;
    background-color: var(--base-box);
}

.innerBase {
    position: absolute;
    width: 30px;
    height: 45px;
    top: 45px;
    left: 0;
    background-color: var(--small-box);
}

.footerGrid {
    transform: translateY(50%);
}

.destinationStyle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: rgba(17, 34, 17, 1);
    line-height: 17.07px;
}

.destinationStyle span {
    padding-bottom: 12px;
}
.footerGrid h3 {
    font-size: 16px;
    line-height: 20.21px;
    font-weight: 700;
}

.iconStyle {
    width: 25px;
    height: 25px;
    padding-right: 8px;
    margin: 0 auto;
    color: rgba(17, 34, 17, 1);
    margin-top: 3%;
    transition: .5s;
}

.iconStyle:hover {
    cursor: pointer;
    color: var(--white);
}