.aj_card_photo {
    background: var(--img-url) no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    aspect-ratio: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.aj_text_container {
    background: linear-gradient(to top , #000f, #0000) ;
    width: 100%;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.aj_text_container h2,
.aj_text_container p {
    color: white;

}

.aj_text_container h2 {
    margin-bottom: 5px;
}

.aj_text_container p {
    font-size: 16px;
}

.aj_text_container button {
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 14px;
    background-color: #FF8500;
    border: none;
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.aj_text_container a {
    text-decoration: none;

}

.bs_fill {
    margin-top: 3px;
    align-items: center;
}