.bg-orange{
    background-color: var(--primary-color) !important;
}
.fa_outline-none{
    outline: none;
}
.fa_transition{
    transition: .5s;
}
.input_searchForm{
    width: 90%;
}
.border-orange{
    border: 1px var(--primary-color) solid;
}