:root {

 
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;500;600;700&display=swap');

  --primary-color:hsl(31, 100%, 50%);
  --color-green: #71AA27;
  --gray-box:#546869;
  --white: #FFFFFF;
  --border-color: #65B599; 
  --pink:#FF8682;
  --base-box:#A4806D;
  --small-box:#DFAD92;
  font-family: 'Dancing Script', cursive;
  font-family: 'Montserrat', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body{
  padding: 0;
  margin: 0;
  background-color: #FAFBFC;
  box-sizing: border-box;
}




