.fa_accordion-item {
    font-size: 16px;
    font-weight: 600;
}
.fa_active_accordion{
    max-height: 0px;
    overflow: auto;
}
.fa_active_accordion.openAccordion{
    max-height: 2000px;
}
.fa_rotate{
    rotate: -180deg;
}
